@import "tailwindcss";
@plugin "daisyui";

.mona-sans-dilam {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
     
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .yellow{

    background-color: yellowgreen;

  }

  .nav{
    background-color: aquamarine;
  }
  .events{
    background-color: antiquewhite;
  }
  .faq{
    background-color: bisque;
  }

  .about{
     background-color:skyblue
  }

  .outlet{
     background-color: beige;
  }